.comment-area *{
	padding: 0;
	margin: 0;
	border: 0;
}

.comment-area{
	overflow : hidden;
}

.comment-area .title{
	margin-top: 5px;
	height: 20px;
	left: 0;
	width: 100%;

	font-size: 17px;
}


.comment-area .down-side{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.comment-area .comment-box{
	height: 60%;
}

.comment-area .comment{
	margin-bottom: 5px;
}

.comment-area .comment-content{
	width: 100%;
	font-size: 15px;
}

.comment-area .opration-box{
	height: 40%;	
}

.comment-area .text-input{
	margin-bottom: 8px;
	width: 100%;
}

.comment-area .text-area{
	height: 30%;
}


.comment-area .submit-button{
	width: 40%;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 5px;
}