
/*总体*/
.comment-area *{
	padding: 0;
	margin: 0;
	border: 0;
}

.comment-area{
	overflow : hidden;
}

/*大框架*/
.comment-area .title{
	position: absolute;
	top: 1%;
	height: 5%;

	left: 0;
	width: 100%;

	font-size: 17px;
}


.comment-area .down-side{
	position: absolute;
	top: 6%;
	height: 93%;
	left: 10px;
	right: 10px;
	overflow: hidden;
}

/*内部部件*/
.comment-area .comment-box{
	width: 100%;
	height: 70%;
}

.comment-area .comment{
	width: 100%;
	margin-bottom: 5px;
}
.comment-area .comment pre{
	word-wrap: break-word;
	white-space: pre-wrap;
	width: 100%;
	font-size: 15px;
	line-height: 15px;
	overflow: hidden;

}

.comment-area .comment-name{
	margin-top: 3px;
	margin-bottom: 7px;
}

.comment-area .opration-box{
	margin-top: 2%;
	height: 28%;	
}

.comment-area .text-input{
	margin-bottom: 8px;
	width: 100%;
}

.comment-area .text-area{
	height: 30%;
}


.comment-area .submit-button{
	width: 40%;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 5px;
}