<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vite App</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
		<script type="module" crossorigin src="/static/articlezone/default.ef7e3fed.js"></script>
		<link rel="modulepreload" href="/static/articlezone/theme.83d79a3f.js">
	</head>
	<body>
		<div id="root"></div>
		
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
	</body>
</html>
