<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vite App</title>
		<script type="module" crossorigin src="/static/articlezone/default.0e16d90e.js"></script>
		<link rel="modulepreload" href="/static/articlezone/titleword.d4448fc4.js">
		<link rel="modulepreload" href="/static/articlezone/math.4d5d97dc.js">
		<link rel="stylesheet" href="/static/articlezone/titleword.6b6aca55.css">
	</head>
	<body>
		<div id="root"></div>
		
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
	</body>
</html>
