<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑内容</title>
    <script type="module" crossorigin src="/static/articlezone/editor.1453a45f.js"></script>
    <link rel="modulepreload" href="/static/articlezone/titleword.eeefe96d.js">
    <link rel="modulepreload" href="/static/articlezone/Link.01193879.js">
    <link rel="modulepreload" href="/static/articlezone/math.f2fd53ff.js">
    <link rel="modulepreload" href="/static/articlezone/overlayscrollbars.5bcb0056.js">
    <link rel="modulepreload" href="/static/articlezone/useFormControl.15385db5.js">
    <link rel="modulepreload" href="/static/articlezone/TextField.757073cf.js">
    <link rel="modulepreload" href="/static/articlezone/Save.ab88468a.js">
    <link rel="stylesheet" href="/static/articlezone/overlayscrollbars.79b5edc6.css">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    

		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
  </body>
</html>
