<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑内容</title>
    <script type="module" crossorigin src="/static/articlezone/editor.ef5f920b.js"></script>
    <link rel="modulepreload" href="/static/articlezone/modulepreload-polyfill.9d8db203.js">
    <link rel="modulepreload" href="/static/articlezone/vendor.96b1bcce.js">
    <link rel="modulepreload" href="/static/articlezone/snackbar.978d4283.js">
    <link rel="modulepreload" href="/static/articlezone/theme.510b2d56.js">
    <link rel="modulepreload" href="/static/articlezone/buttons.9b6fafe1.js">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    

		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
  </body>
</html>
