<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑内容</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script type="module" crossorigin src="/static/articlezone/editor.e2f3dd8b.js"></script>
    <link rel="modulepreload" href="/static/articlezone/theme.7f3033c5.js">
    <link rel="modulepreload" href="/static/articlezone/Link.84ccc1b9.js">
    <link rel="modulepreload" href="/static/articlezone/Divider.4f35b52d.js">
    <link rel="modulepreload" href="/static/articlezone/index.3f3ef378.js">
    <link rel="modulepreload" href="/static/articlezone/createSvgIcon.2bb2f90b.js">
    <link rel="modulepreload" href="/static/articlezone/useFormControl.0eff9b87.js">
    <link rel="modulepreload" href="/static/articlezone/overlayscrollbars.8225b2ab.js">
    <link rel="modulepreload" href="/static/articlezone/TextField.7700fdb1.js">
    <link rel="modulepreload" href="/static/articlezone/Save.65f7b9d6.js">
    <link rel="stylesheet" href="/static/articlezone/overlayscrollbars.79b5edc6.css">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    

		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
  </body>
</html>
