<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>看看</title>
    <script type="module" crossorigin src="/static/articlezone/viewer.a7ced908.js"></script>
    <link rel="modulepreload" href="/static/articlezone/titleword.f7f7728b.js">
    <link rel="modulepreload" href="/static/articlezone/math.e82b0f78.js">
    <link rel="modulepreload" href="/static/articlezone/Link.4c9f1461.js">
    <link rel="modulepreload" href="/static/articlezone/index.aa4195b8.js">
    <link rel="modulepreload" href="/static/articlezone/TransitionGroupContext.f782cc74.js">
    <link rel="stylesheet" href="/static/articlezone/index.0ebad6fb.css">
  </head>
  <body>
    <div id="root" class = "mathjax_ignore"></div>
    

		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
  </body>
</html>

  