<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑结构</title>
    <script type="module" crossorigin src="/static/articlezone/nodetree.bc30e881.js"></script>
    <link rel="modulepreload" href="/static/articlezone/jsx-runtime.71fbd6ab.js">
    <link rel="modulepreload" href="/static/articlezone/snackbar.3cf9a897.js">
    <link rel="modulepreload" href="/static/articlezone/buttons.6dcdeef6.js">
    <link rel="modulepreload" href="/static/articlezone/titleword.4fc1619c.js">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    
    
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
    <div style="display:none;" id="_data_shallow">{{shallow}}</div>
  </body>
</html>
