<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑结构</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script type="module" crossorigin src="/static/articlezone/nodetree.73ef6106.js"></script>
    <link rel="modulepreload" href="/static/articlezone/theme.49d52e21.js">
    <link rel="modulepreload" href="/static/articlezone/Link.a60be375.js">
    <link rel="modulepreload" href="/static/articlezone/createSvgIcon.95f6137c.js">
    <link rel="modulepreload" href="/static/articlezone/TreeView.af5b0ee2.js">
    <link rel="modulepreload" href="/static/articlezone/Divider.ddf1886a.js">
    <link rel="modulepreload" href="/static/articlezone/useFormControl.a7e3b597.js">
    <link rel="modulepreload" href="/static/articlezone/Save.4ef2a1fc.js">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    
    
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
    <div style="display:none;" id="_data_shallow">{{shallow}}</div>
  </body>
</html>
