<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑结构</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script type="module" crossorigin src="/static/articlezone/nodetree.dc38db75.js"></script>
    <link rel="modulepreload" href="/static/articlezone/theme.a4815b00.js">
    <link rel="modulepreload" href="/static/articlezone/Link.a76cdb30.js">
    <link rel="modulepreload" href="/static/articlezone/createSvgIcon.05a18ead.js">
    <link rel="modulepreload" href="/static/articlezone/TreeView.046c34e1.js">
    <link rel="modulepreload" href="/static/articlezone/Divider.2e21d0b6.js">
    <link rel="modulepreload" href="/static/articlezone/useFormControl.d39e12cd.js">
    <link rel="modulepreload" href="/static/articlezone/Save.6e265e68.js">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    
    
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
    <div style="display:none;" id="_data_shallow">{{shallow}}</div>
  </body>
</html>
