<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="module" crossorigin src="/static/articlezone/pureprinter.2f2953da.js"></script>
    <link rel="modulepreload" href="/static/articlezone/titleword.eeefe96d.js">
    <link rel="modulepreload" href="/static/articlezone/math.f2fd53ff.js">
    <link rel="modulepreload" href="/static/articlezone/Link.01193879.js">
    <link rel="modulepreload" href="/static/articlezone/overlayscrollbars.5bcb0056.js">
    <link rel="stylesheet" href="/static/articlezone/overlayscrollbars.79b5edc6.css">
  </head>
  <body>
    
    <div id="root" class = "mathjax_ignore"></div>
    
    
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_logged_in">{{logged_in}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
  </body>
</html>

<script>
	// TODO 还是不对，发送的高度不正确...
	// 他好像发送的就是iframe的初始高度...
	
	let my_id = {{node_id}}
	// 向父节点发送信息。
	let my_height = -1
	setTimeout(()=>{ // 监听高度变化
		
		let height_provider = document.getElementsByClassName("heightProvider")
		if(height_provider.length <= 0){
			return 
		}
		height_provider = height_provider[0]

		if(my_height != height_provider.scrollHeight){
			my_height = height_provider.scrollHeight
			window.parent.postMessage({ // 向父节点发送消息
				verification: "showchildren" , 
				son_id: my_id , 
				height: my_height , 
			} , "*")
		}
	} , 2000)
</script>