
#content_area
{	
	position : absolute;
	width : 100%;
	height : 100%;
}

#content_area #inner_text
{
	position : absolute;
	left : 0;
	top : 6%;
	width : 98%;
	height : 92%;
	padding-left : 1%;
	padding-right : 1%;
	padding-top : 1%;
	padding-bottom : 1%;

	overflow : visible;

	-webkit-animation : inner_in 1s;
}

#content_area #inner_title
{
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 5%;

	-webkit-animation : inner_in 1s;
}

#content_area #inner_title_p
{
	text-align : center;
	height : 100%;
	font-size : 130%;
	margin-top : 3px;
	font-family : "FangSong";
}

/*#content_area #inner_text::-webkit-scrollbar 
{
	display : none;
}*/

#content_area hr
{
	border : none;
	margin-top : 20px;
	margin-bottom : 20px;
	padding : 0;
	height : 1px;
}

#content_area *
{
	color : #E0E0E0FF;
	font-size : 16px;
	font-family : serif;
	line-height : 21px;
}

#content_area br
{
	content: "	";
	display: block;
	margin-top : 5px;
}

#content_area img
{
	margin-top : 6px;
	margin-bottom : 6px;
}