*.sqlite3
*.sqlite3*
/YYYBlog/YYYBlog/setting_secret_key.py
/YYYBlog/media/
/YYYBlog/Article_Zone/static/Article_Zone/YUI/fonts/font_files
*.pyc
temporary_utils/
sftp-config.json
autoupdate.sh
yblog/yblog/extra_infos.py
yblog/medias/*

*.crt
*.key
node_modules
tempprok.rar

.VSCodeCounter
# yblog/static