{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<link rel = "stylesheet" href = {% static "default/default.css"|make_static:"this" %} type = "text/css" />
	
	<!-- 只对于特定类型的界面启动Mathjax，具体由view控制 -->
	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}

	<script src = {% static "jquery-3.3.1.min.js"|make_static:"universe" %}></script>

</head>

<body>

	<!-- 左边栏部分 -->
	<div id = "left_part">
		{% include "../components/nodelist_area/nodelist_area.html" %}
	</div>

	<!-- 中间部分 -->
	<div id = "inner_part">
		{% include "../components/content_area/content_area.html" %}
	</div>


	<!-- 右边栏部分 -->
	<div id = "right_part">
		{% include "../components/comment_area/comment_area.html" %}
	</div>
	


	<div id = "left_line"></div>
	<div id  = "right_line"></div>
	<div id = "left_line_2"></div>
	<div id  = "right_line_2"></div>

	{% if '帅' in 强化标签 %}
		<div id = "enter_anime">
			{% include "../components/cool_in/cool_in.html" %}
		</div>
	{% endif %}

</body>
</html>

<!-- TODO -->
{% if 'pdf文件' in 强化标签 %}

	<script 
		src = {% static "components/deal_pdf.js"|make_static:"this" %} 
		type = "text/javascript"
	></script>


	<script 
		src = {% static "pdfjs/build/pdf.js"|make_static:"universe" %} 
		type = "text/javascript" 
	></script>

	<script 
		src = {% static "pdfjs/build/pdf.worker.js"|make_static:"universe" %} 
		type = "text/javascript" 
	></script>

	<script type = "text/javascript" >

		can_lis_init_done = function(){
			var can_lis = document.getElementById("_canvas_list");

			var clis = [0,0,0];
			for(var i = 0;i < can_lis.children.length;i++)
			{
				var can = can_lis.children[i];
				got_lis = get_mean_color(can);

				clis[0] += got_lis[0];
				clis[1] += got_lis[1];
				clis[2] += got_lis[2];
			}

			clis[0] /= can_lis.children.length;
			clis[1] /= can_lis.children.length;
			clis[2] /= can_lis.children.length;

 
			clis[0] = Math.round(clis[0]);
			clis[1] = Math.round(clis[1]);
			clis[2] = Math.round(clis[2]);

			change_color( clis );
		}
	</script>


{% endif %}