{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<link rel = "stylesheet" href = {% static "default/default.css"|make_static:"this" %} type = "text/css" />
	
	<!-- 只对于特定类型的界面启动Mathjax，具体由view控制 -->
	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}
</head>

<body>

	<!-- 左边栏部分 -->
	<div id = "left_part">
		{% include "Article_Zone/default/nodelist_area.html" %}
	</div>

	<!-- 中间部分 -->
	<div id = "inner_part">
		{% include "Article_Zone/default/content_area.html" %}
	</div>


	<!-- 右边栏部分 -->
	<div id = "right_part">
		{% include "Article_Zone/default/comment_area.html" %}
	</div>
	


	<div id = "left_line"></div>
	<div id  = "right_line"></div>

	{% if '帅' in 强化标签 %}
		<div id = "enter_anime">
			{% include "./cool_in.html" %}
		</div>
	{% endif %}

</body>
</html>

<!-- TODO -->
{% if 'pdf文件' in 强化标签 %}
<script type="text/javascript" charset="utf-8">
	target_color = [0xFF,0xFF,0xFF]

	function triple2color(col)
	{
		str = "#"
		for(var i = 0;i < 4;i++)
		{
			var s = col[i].toString(16)
			while(s.length < 2)
				s = '0' + s
			str = str + s
		}
		return str
	}

	function color2triple(col)
	{
		col = col.replace(/[^0-9]/ig," ")
		col = col.split(" ")
		y = []
		for(var i = 0;i < col.length;i++)
		{
			if(col[i] != "")
				y[y.length] = parseInt(col[i])
		}
		while(y.length > 4)
			y.pop()
		while(y.length < 4)
			y[y.length] = 255
		return y
	}

	var ele_lis = document.querySelectorAll('*');
	for (var i = 0 ; i < ele_lis.length ; i++) 
	{
		var ele = ele_lis[i];

		var bgcol = window.getComputedStyle(ele , "none").backgroundColor
		var col = window.getComputedStyle(ele , "none").color
		//var bgcol = ele.style.backgroundColor
		//var col = ele.style.color
		bgcol = color2triple(bgcol)
		col = color2triple(col)

		for(var j = 0;j < 3;j++)
		{
			col[j] = target_color[j] - col[j]
			bgcol[j] = target_color[j] - bgcol[j]
		}

		ele.style.backgroundColor = triple2color(bgcol)
		ele.style.color = triple2color(col)
	}


</script>
{% endif %}