{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<link rel = "stylesheet" href = {% static "default_2/default_2.css"|make_static:"this" %} type = "text/css" />
	<link rel = "stylesheet" href = {% static "default_2/default_2_dragble_list.css"|make_static:"this" %} type = "text/css" />
	
	<!-- 只对于特定类型的界面启动Mathjax，具体由view控制 -->
	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}
	<!--script src = {% static "jquery-3.3.1.min.js"|make_static:"universe" %}></script-->

</head>

<body>


	<!-- 中间部分 -->	
	<div id = "inner_part">
		{% include "../components/content_area/content_area.html" %}

	</div>

	
	<div id = "dragble_button">
		{% include "../components/dragable_list/dragable_list.html" %}


		<div id = "node_list" class = "hidden dragble_list_element">
			{% include "../components/nodelist_area_flex/nodelist_area_flex.html" %}
		</div>

		<div id = "comment_list" class = "hidden dragble_list_element">
			{% include "../components/comment_area/comment_area.html" %}
		</div>

	</div>
	<script>
		get_div(document.getElementById("dragble_button"))

		main_cont = document.getElementById("main_cont")
		node_list = document.getElementById("node_list")
		comment_list = document.getElementById("comment_list")
		dragble_list_init(main_cont , [node_list , comment_list])
	</script>
	
	
	{% if '帅' in 强化标签 %}
		<!--div id = "enter_anime">
			{% include "../components/cool_in/cool_in.html" %}
		</div-->
	{% endif %}

</body>
</html>

{% if 'pdf文件' in 强化标签 %}

	<script 
		src = {% static "components/deal_pdf.js"|make_static:"this" %} 
		type = "text/javascript"
	></script>

	<script 
		src = {% static "pdfjs/build/pdf.js"|make_static:"universe" %} 
		type = "text/javascript" 
	></script>

	<script 
		src = {% static "pdfjs/build/pdf.worker.js"|make_static:"universe" %} 
		type = "text/javascript" 
	></script>

	<script type = "text/javascript" >

		can_lis_init_done = function(){
			var can_lis = document.getElementById("_canvas_list");

			var clis = [0,0,0];
			for(var i = 0;i < can_lis.children.length;i++)
			{
				var can = can_lis.children[i];
				got_lis = get_mean_color(can);

				clis[0] += got_lis[0];
				clis[1] += got_lis[1];
				clis[2] += got_lis[2];
			}

			clis[0] /= can_lis.children.length;
			clis[1] /= can_lis.children.length;
			clis[2] /= can_lis.children.length;

 
			clis[0] = Math.round(clis[0]);
			clis[1] = Math.round(clis[1]);
			clis[2] = Math.round(clis[2]);

			change_color( clis );
		}
	</script>
{% endif %}

<!-- script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src = {% static "minimap/jquery.minimap.js"|make_static:"universe" %}></script>
<link rel = "stylesheet" href = {% static "minimap/jquery.minimap.css"|make_static:"universe" %} type = "text/css" />

<script>
	$(document).ready( function() {
			$("#inner_text").minimap({
				map_col: "#minimap_map_col"
			});
		}
	)

</script -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src = {% static "jquery.nicescroll-3.7.6/jquery.nicescroll.js"|make_static:"universe" %}></script>
<script>
	
	$(document).ready(
		function() { 
		$("#inner_text").niceScroll();
		}
	);

</script>