{% load universe_extras %}
{% load open_discuss_zone_extras %}
{% load static %}

<html>

<head>

	<link rel = "stylesheet" href = {% static "default/topic.css"|make_static:"this" %} type = "text/css" />
	
	<!-- 只对于特定类型的界面启动Mathjax，具体由view控制 -->
	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}
	<!--script src = {% static "jquery-3.3.1.min.js"|make_static:"universe" %}></script-->

</head>

<body>

	<div id = "main_area">

		<!-- 标题 -->
		<div id = "title">
			<p class = "title_p">{{此话题.名}}</p>
		</div>

		<!-- 话题列表 -->
		<div id = "comment_list">
			<hr />
			{% for 内容 , 附加信息 in 言论列表 %}

				<p class = "comment_p">
					{{内容}} 
					<br>
					{{附加信息 | safe}}
				</p>
				<hr />
			{% endfor %}

		</div>

	</div>

	<div id = "create_area">
		<form action = "newcomment_submit" method = "post">
		{% csrf_token %}

		内容:
		<textarea class = "text_input" id = "comment_input" name = "content"></textarea>
		称呼: <input type = "text" class = "text_input" name = "name"/>
		邮箱: <input type = "text" class = "text_input" name = "email"/>

		<input type = "submit" value = "发表言论" id = "submit_button"/>

		</form>

	</div>

	<div id = "info_area">
		<p>
			类型：话题<br/>
			创建时间: {{时间}}
		</p>
		<a href = "../">返回</a>
	</div>

</body>
</html>
