<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>星之器</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div id="root"></div>
		<script type="module" src="./casket_of_star/main.tsx"></script>
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
	</body>
</html>
