#dragable_list
{
	position : absolute;
	width : 100%;
	height : 100%;

}

#dragable_list #main_cont
{	
	position : absolute;
	left : 0%;
	top : 0%;
	width : 100%;
	height : 100%;
	background-color: #000000AA;

	border : 1px;
	border-style : solid;
	border-color : #AAAAAA;
	border-radius: 50%;
}

#dragable_list #mc_inner
{	
	position : absolute;
	left : 8%;
	top : 8%;
	right : 8%;
	bottom : 8%;
	border : 1px;
	border-style : solid;
	border-color : #AAAAAA;
	background-color: #00000000;
	pointer-events: none;

	border-radius: 50%;

}

#dragable_list #mc_txt
{
	position : absolute;
	left : 0;
	top : 15%;
	right : 0;
	bottom : 0;
	color : #DDDDDD;
	pointer-events: none;
	text-align:center;
	font-size : 100%;
	font-family : "等线" !important;
	user-select: none;
}

#dragable_list #hidden_main_cont
{	
	position : absolute;
	left : 0%;
	top : 0%;
	z-index: 0;
	width : 15vw;
	height : 85vh;
	background-color: #00000000;
}

/*
	主要针对hidden_main_cont，使他在平时不要遮挡下面，但是作为鼠标离开的边界时又能接收鼠标信息
*/
#dragable_list .pointer_events_none
{
	pointer-events: none;
}

#dragable_list .pointer_events_auto
{
	pointer-events: auto;
}
