*
{
	/*border : 0;*/
	margin : 0;
	padding : 0;
	outline : 0;
	color: #BBBBBB;
}

#inner_part *
{

	color : #BBBBBB !important;
}

body 
{
	width : 100%;
	height : 100%;

	background-color : #252825;

	overflow : visible;

}

/*
#minimap_map_col
{
	position : fixed;
	left : 85%;
	top : 2%;
	width : 15%;
	height : 96%;
	background-color: #0A0A;
}
*/

#inner_part
{
	position : absolute;
	left : 15%;
	top : 2%;
	width : 70%;
	height : 96%;
}

#dragble_button
{
	position : absolute;
	left : 2%;
	top : 6%;
	width : 3%;
	height : 6%;
}

.right_line,#left_line,#right_line,#left_line_2,#right_line_2,hr
{
	background-color : #6C6C6CFF;
}
::selection
{
	background : #AAAAAA; 
	color : #BBBBBBFF;
}

body::-webkit-scrollbar 
{
	display : none;
}