*
{
	/*border : 0;*/
	margin : 0;
	padding : 0;
	outline : 0;
}

#inner_part *
{

	color : #000000FF !important;
}

body 
{
	width : 100%;
	height : 100%;

	background-color : #CCCCCCFF;

	overflow : visible;

}

#inner_part
{
	position : absolute;
	left : 15%;
	top : 2%;
	width : 70%;
	height : 96%;
}

#dragble_button
{
	position : absolute;
	left : 2%;
	top : 6%;
	width : 7%;
	height : 5%;
}

.right_line,#left_line,#right_line,#left_line_2,#right_line_2,hr
{
	background-color : #6C6C6CFF;
}
::selection
{
	background : #3F3F3FFF; 
	color : #CCCCCCFF;
}

body::-webkit-scrollbar 
{
	display : none;
}