#button-box
{
	position: absolute;
	top : 20%;
	left : 75%;
	height: 100px;
	width: 200px;

	background-color: #C8D2D5;
}

#but_cs
{
	position: absolute;
	top: 0;
	left: 0;
}

#but_sb
{
	position: absolute;
	top: 50%;
	height: 40%;
	width: 80px;
	left: 0;
}