/*全局*/

.node-list-area *{
	padding: 0;
	margin: 0;
	border: 0;
}

.node-list-area{
	overflow : hidden;
	background-color: inherit;
}

/*大组件（容器等）*/
.node-list-area .title{
	position: absolute;
	top: 1%;
	height: 5%;

	left: 0;
	width: 100%;

	font-size: 17px;
}

.node-list-area .button-box{
	position: absolute;
	top: 6%;
	left: 10px;
	right: 10px;

	height: 4%;
}

.node-list-area .option-box{
	position: absolute;
	top: 11%;
	left: 5px;
	right: 5px;

	height: 88%;
}

/*button-box内组件*/
.node-list-area .button{
	width: 55px;
	height: 100%;

	font-size: 14px;
}
/*option-box内组件*/
.node-list-area .option{
	margin-top: 3px;
	margin-bottom: 3px;
}

.node-list-area .option-text{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 16px;
	line-height: 16px;

	color: inherit;
	background-color: #00000000; /*透明*/
}

/*其他*/
.node-list-area hr{
	border: 0.5px solid #FFFFFF88;
}