{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<!-- 外部库 -->
	<script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src = "https://cdn.bootcdn.net/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	<script src = "https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src = {% static "jquery.nicescroll-3.7.6/jquery.nicescroll.js"|make_static:"universe" %}></script>
	<script src = {% static "pdfjs/build/pdf.js"|make_static:"universe" %} ></script>

	<!-- Vexflow，用于渲染乐谱 -->
	<script src = {% static "vexflow/vexflow-min.js"|make_static:"universe" %}></script>

	<!-- Tone.js，用于播放音乐 -->
	<script src = {% static "tone/tone.js"|make_static:"universe" %}></script>

	<!-- YUI -->
	<link rel = "stylesheet" href = {% static "YUI/css/YUI.css"|make_static:"this" %} type = "text/css" />
	<script src="{% static "YUI/YUI.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/YUI-components.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/YUI-css-complement.js"|make_static:"this" %}"></script>
	<!-- YMusic -->
	<script src="{% static "YUI/music/YMusic.js"|make_static:"this" %}"></script>
	<!-- YPDF -->
	<script src = {% static "YUI/pdf/pdf_process.js"|make_static:"this" %}></script>
	<script src = {% static "YUI/pdf/YPDF.js"|make_static:"this" %}></script>

	<!-- 主界面样式 -->
	<link rel = "stylesheet" href = {% static "default/main.css"|make_static:"this" %} type = "text/css" />

	<!-- 导入自定义模块 -->

	{% include "../nodelist_area/init.html" %}
	{% include "../comment_area/init.html" %}
	{% include "../option_area/init.html" %}
	<!-- script src = {% static "content_area/content_area.js"|make_static:"this" %}></script -->

</head>

<body>
<div id = "main">

	<y-page> 
		<y-content id = "main-content">
			<!-- 内容过多的节点不适合作为component -->
			{% include "../content_area/content_area.html" %}
		</y-content> 

		<y-toolbar>

			<y-tool>
				<nodelist-area></nodelist-area>
			</y-tool>

			<y-tool>
				<comment-area> </comment-area>
			</y-tool>

			<y-tool>
				<option-area>  </option-area>
			</y-tool>

		</y-toolbar>


	</y-page>

</div>
</body>

</html>

<script>
</script>

<script>
$(document).ready(
	function() { 
		// 开启pdf处理
		start_ypdf(["P"] , "{% static "pdfjs/build/pdf.worker.js"|make_static:"universe" %}")
		
		//启动YUI
		start_YUI("#main")

		// 初始化YMusic
		init_ymusic_sampler(
			{
				A0: "A0.MP3",
				A1: "A1.MP3",
				A2: "A2.MP3",
				A3: "A3.MP3",
				A4: "A4.MP3",
				A5: "A5.MP3",
				A6: "A6.MP3",
				A7: "A7.MP3",
			},
			"{% static "YUI/music/samples/"|make_static:"this" %}"
		)

		// 启动YMusic
		start_ymusic(
			{
				"fillcolor" 	: "#DDDDDD",
				"backfillcolor" : "#303030",
			} , 
			["P" , "TD"]
		)


		// 启动nice scroll
		$(".content-area .content").niceScroll({cursorborder:"",cursorcolor:"#657899",boxzoom:false});
		setInterval(function(){$(".content-area .content").getNiceScroll().resize()} , 500)
		
	}

);


</script>


<!-- vue不允许scripts放在content内，因此需要额外放置 -->
{{附加内容|safe}}

{% if 启用MathJax %}
		<script src = {% static "MathJax/MathJax.js"|make_static:"universe" %}></script>
		<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
{% endif %}
