{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<!-- 外部库 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src = {% static "jquery.nicescroll-3.7.6/jquery.nicescroll.js"|make_static:"universe" %}></script>
	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}

	<!-- Vexflow，用于渲染乐谱 -->
	<!-- TODO：换成min版本 -->
	<script type="text/javascript" src="https://npmcdn.com/vexflow/releases/vexflow-debug.js"></script>

	<!-- YUI -->
	<link rel = "stylesheet" href = {% static "YUI/css/YUI.css"|make_static:"this" %} type = "text/css" />
	<script src="{% static "YUI/YUI.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/YUI-components.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/YUI-css-complement.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/music/YMusic.js"|make_static:"this" %}"></script>

	<!-- 主界面样式 -->
	<link rel = "stylesheet" href = {% static "default/main.css"|make_static:"this" %} type = "text/css" />

	<!-- 导入自定义组件 -->
	{% include "../nodelist_area/init.html" %}
	{% include "../comment_area/init.html" %}
	{% include "../option_area/init.html" %}
	<script src = {% static "content_area/content_area.js"|make_static:"this" %}></script>


</head>

<body>
<div id = "main">

	<y-page> 
		<y-content id = "main-content">
			<!-- 内容过多的节点不适合作为component -->
			{% include "../content_area/content_area.html" %}
		</y-content> 

		<y-toolbar>

			<y-tool>
				<nodelist-area></nodelist-area>
			</y-tool>

			<y-tool>
				<comment-area> </comment-area>
			</y-tool>

			<y-tool>
				<option-area>  </option-area>
			</y-tool>

		</y-toolbar>


	</y-page>

</div>
</body>

</html>

<script>
	//启动YUI
	start_YUI("#main")
	ymusic_parse()
</script>

<script>
// 启动nice scroll
$(document).ready(
	function() { 
		$(".content-area .content").niceScroll({cursorborder:"",cursorcolor:"#657899",boxzoom:false});
		setInterval(function(){$(".content-area .content").getNiceScroll().resize()} , 500)
	}
);
</script>

