<!-- 此节点 -->
<!-- 子节点列表 -->
<!-- 祖先节点列表 -->
<!-- 兄弟节点列表 -->
<!-- 留言列表 -->
<!-- 强化标签 -->
<!-- 额外样式 -->
<!-- 子节点全部信息 -->
<!-- 内容 -->

{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<html>

<head>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	{% if 启用MathJax %}
			<script src = {% static "import_mathjax.js"|make_static:"universe" %}></script>
	{% endif %}

	<link rel = "stylesheet" href = {% static "YUI/css/YUI.css"|make_static:"this" %} type = "text/css" />
	<script src="{% static "YUI/YUI_toolbar.js"|make_static:"this" %}"></script>
	<script src="{% static "YUI/YUI.js"|make_static:"this" %}"></script>
	
	<link rel = "stylesheet" href = {% static "default_2/main.css"|make_static:"this" %} type = "text/css" />

</head>

<body>
<div id = "main">

	<y-page> 
		<y-content id="y-content">
			{% include "../content_area/content_area.html" %}
		</y-content> 

		<y-toolbar>

			<y-tool>
				{% include "../nodelist_area/nodelist_area.html" %}
			</y-tool>

			<y-tool>
				{% include "../comment_area/comment_area.html" %}
			</y-tool>

		</y-toolbar>


	</y-page>

</div>
</body>

</html>

<script>
	new Vue({
		delimiters:['[[', ']]'],
		el: '#main',
	})

</script>


<script>
	var node_type = 1
	{% if 此节点.类型 == 0 %}
		node_type = 0
	{% endif %}

	{% if 此节点.父 %}
		var node_has_father = true
	{% else %}
		var node_has_father = false
	{% endif %}

	var node_father_add = "{{此节点.父.地址}}"

</script>

<script src="{% static "nodelist_area/nodelist_area.js"|make_static:"this" %}"></script>

<script src = {% static "jquery.nicescroll-3.7.6/jquery.nicescroll.js"|make_static:"universe" %}></script>
<script>
	$(document).ready(
		function() { 
		//$("#inner_text").niceScroll();
			$("#inner_text").niceScroll({cursorborder:"",cursorcolor:"#657899",boxzoom:false});
			setInterval(function(){$("#inner_text").getNiceScroll().resize()} , 500)
		}
	);
</script>
