<div class = "comment-area Y-full">


	<div class = "title Y-font-short Y-text-center Y-color-text-light">
		留言区
	</div>

	<div class = "down-side">
		<!-- 右边栏的列表部分，也就是留言列表 -->
		<div class = "comment-box Y-column-stack Y-scroll-y Y-no-scrollbar">
			{% for 留言 in 留言列表 %}
				<div class = "comment">
					<pre class = "comment-content Y-font-default Y-color-text-light">{{留言.内容}}</pre>
					<pre class = "comment-name Y-font-default Y-color-text-light">	-- {{留言.留言者称呼}} </pre>
					<!--div class = "line"></div-->
				</div>
			{% endfor %}
		</div>

		<!-- 右边栏的底部 -->
		<div class = "opration-box">

			<!-- 这个标签可以通过点击type为submit的input按钮把内容提交给后台并刷新网页 -->
			<form action = "submit_comment" method = "post">
				{% csrf_token %}

				
				<y-text-area  
					class = "text-input text-area Y-no-scrollbar" name = "content" placeholder = "留言"
				></y-text-area>
				
				<y-text-input 
					class = "text-input" name = "name" placeholder = "称呼"
				></y-text-input>
				
				<y-text-input 
					class = "text-input" name = "email" placeholder = "邮箱"
				></y-text-input>

				<y-button class = "submit-button" onclick = "this.parentElement.submit()">
					提交留言
				</y-button>
			</form>
		</div>
	</div>
</div>