{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<link rel = "stylesheet" type = "text/css" 
	href = {% static "nodelist_area/nodelist_area.css"|make_static:"this" %} 
/>

<script>
	var this_page_type = {{此节点.节点类型}} //当前界面的类型

	Vue.component("nodelist-area" , {
	delimiters: ["[[", "]]"],

	data: function(){ return {
		active_opt  : -1, //目前哪个等级的按钮正在被鼠标放上去
		active_page : -1, //目前哪个等级的页面正在被鼠标放上去

		pages: [{ //初始只有一个页
				id   : 0,
				left : 0,
				page_type : this_page_type, //type = 0代表文章，1代表集
				hash : 2333, //通过把这个属性设置成key来强制vue更新，否则v-for里面不会更新

				//初始页的各种节点
				son_nodes: [ {% for 节点 in 子节点列表 %} {
					name: "{{节点.名}}",
					type: "{{节点.节点类型}}",
					url: "{{节点.地址}}",
				}, {% endfor %} ],

				par_nodes: [ {% for 节点 in 祖先节点列表 %} {
					name: "{{节点.名}}",
					type: "{{节点.节点类型}}",
					url: "{{节点.地址}}",
				}, {% endfor %} ],

				bro_nodes: [ {% for 节点 in 兄弟节点列表 %} {
					name: "{{节点.名}}",
					type: "{{节点.节点类型}}",
					url: "{{节点.地址}}",
				}, {% endfor %} ],
		},],
	}},

	computed:{
		active_level: function(){ //目前应该显示到哪个等级
			return Math.max(this.active_page , this.active_opt + 1)
		},
	},

	watch: {
		pages: function(new_val , old_val){
			this.$parent.set_page_number(new_val.length) //TODO：改用事件
		},

		active_level: function(new_val , old_val){
			let now_act = new_val
			let me = this
			setTimeout(function(){
				if(me.active_level <= now_act)
				{//等待一段时间后执行删除
					me.del_page(now_act) //删除后面的元素
				}
			} , 200) //推迟200ms
		}
	},

	methods:{

		del_page: function(id){//删除id之后的元素
			this.pages = this.pages.slice(0,id+1)
		},
		new_page: function(last_id , ins , new_page_type){
			//ins: son_nodes , par_nodes , bro_nodes
			this.del_page(last_id) //先删除已有元素

			var last_instance = this.pages[last_id]
			this.pages.push({
				id   : last_instance.id + 1,
				left : last_instance.left + this.$parent.page_width,
				hash : Math.random(),
				page_type: new_page_type,

				son_nodes: ins.son_nodes,
				par_nodes: ins.par_nodes,
				bro_nodes: ins.bro_nodes,
			})
			//TODO：当按钮在屏幕右侧时，会出现bug（宽度增加方向和left增加方向不一致）
		},
		enter_anime: function(e){
			anime({
				targets: e,
				opacity: [0 , 1],
				duration: 500,
				easing: "easeInCubic", //前期慢
			});
		},
		leave_anime: function(e){
			anime({
				targets: e,
				opacity: [1 , 0],
				duration: 500,
				easing: "easeOutCubic", //前期快，防止和进入动画交错
			});
		},

	},

	template:`
		<transition-group 
			@enter = enter_anime
			@leave = leave_anime
			:duration = 500
		>
			<inner-nodelist-area 
				v-for = "page in pages"
				:key = page.hash
				:style = "{
					'position': 'absolute' ,
					'left'  : page.left + 'px',
					'width' : $parent.page_width + 'px',
					'height': '100%',
					'top' 	: '0',
				}"
				:son_nodes 	= page.son_nodes
				:par_nodes 	= page.par_nodes
				:bro_nodes 	= page.bro_nodes
				:my_id 		= page.id
				:type 		= page.page_type

				@new_page = "new_page($event[0] , $event[1] , $event[2])"
				@del_page = del_page($event)

				@opt_enter  =  "active_opt = $event"
				@opt_leave  =  "active_opt = -1"
				@page_enter = "active_page = $event"
				@page_leave = "active_page = -1"
			>
			</inner-nodelist-area>
		</transition-group>
	`,
})


Vue.component("inner-nodelist-area" , {
	delimiters: ["[[", "]]"],
	props: ["my_id" , "type" , "son_nodes" , "par_nodes" , "bro_nodes"],

	data: function(){ return {
		
		nodeset_list: [this.son_nodes , this.par_nodes , this.bro_nodes], //拢共有哪些节点列表
		nodeset_active: 0, //当前活跃的节点列表

		button_class: function(idx){return { //第idx个button的额外class
			"active-button": this.nodeset_active == idx, //是否活跃
		}},

	}},

	created: function(){
		//type是0代表文章，1代表集。如果是文章，初始默认同列行，如果是集，初始默认下行
		this.nodeset_active = ((this.type == 0) ? 2 : 0)
	},

	methods: {

		but_click: function(idx , but){
			this.nodeset_active = idx
		},
		new_page: function(url , type){
			let me = this
			$.ajax({url: "../" + url + "/get_node_list", success : function(response){
				console.log(response)
				fuck = response
				var ret = (new Function(response))() // ajax获得下一级的内容
				me.$emit("new_page" , [me.my_id , ret , type]) //传递内容给父对象创建新页面
			}})
		},
	} , 
	template:`{% include "./nodelist_area.html"%}`,
})
</script>