{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<!-- 主要用于显示其他文章链接 -->
<div class = "node-list-area Y-full">

	<link 
		rel = "stylesheet" 
		href = {% static "nodelist_area/nodelist_area.css"|make_static:"this" %} 
		type = "text/css" 
	/>

	<div class = "title Y-font-title Y-text-vertical-center">
		相关页面列表
	</div>

	<!-- 左边的按钮栏 -->
	<div class = "button-box Y-row-separate ">
		<div class = "button Y-text-center Y-font-default Y-button" onclick = "left_but_click(1)"> 下行 </div>
		<div class = "button Y-text-center Y-font-default Y-button" onclick = "left_but_click(2)"> 上行 </div>
		<div class = "button Y-text-center Y-font-default Y-button" onclick = "left_but_click(3)"> 同列行 </div>
	</div>

	<div class = "option-box Y-colume-stack">
		{% for 节点 in 子节点列表 %}

			{% if 节点.节点类型 is 3 %}		<!--集和文章的分界线-->
				<hr />
			{% else %}
				<a class = "Y-option option" href = "../{{节点.地址}}" >
					<p class = "option-text Y-text-vertical-center Y-font-default">{{节点.名}}</p>
				</a>
			{% endif %}

		{% endfor %}
	</div>
</div>
