<!-- 主要用于显示其他文章链接 -->
<div class = "node-list-area Y-scroll Y-no-scrollbar"
	@mouseenter.self = "$emit('page_enter' , my_id)"
	@mouseleave.self = "$emit('page_leave' , my_id)"
>

	<div class = "title Y-font-short Y-text-center Y-color-text-light">
		相关页面列表
	</div>

	<!-- 左边的按钮栏 -->
	<div class = "button-box Y-row-separate">
		<y-button class="button" :always_active="nodeset_active==0" @y-button-click="but_click(0)">下行</y-button>
		<y-button class="button" :always_active="nodeset_active==1" @y-button-click="but_click(1)">上行</y-button>
		<y-button class="button" :always_active="nodeset_active==2" @y-button-click="but_click(2)">同列行</y-button>
	</div>

	<div class = "option-box Y-column-stack Y-scroll Y-no-scrollbar">
			<y-option class = "option" v-for = "node in nodeset_list[nodeset_active]"
				:href = "'../' + node.url"
				:key =  node.name

				@y-mouse-enter.self = "$emit('opt_enter' , my_id); new_page(node.url , node.type)"
				@y-mouse-leave.self  = "$emit('opt_leave' , my_id)"

				v-if = "node.type != '3'"
			>
				<p class = "option-text">[[node.name]]</p>
			</y-option>
			
			<hr class = "option" v-else />
		
	</div>
</div>
