<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>星之器</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
		<script type="module" crossorigin src="/static/articlezone/special_casket_of_star.059dc886.js"></script>
		<link rel="modulepreload" href="/static/articlezone/theme.1b604794.js">
		<link rel="modulepreload" href="/static/articlezone/Link.5db577b3.js">
		<link rel="modulepreload" href="/static/articlezone/overlayscrollbars.81efd6ca.js">
		<link rel="modulepreload" href="/static/articlezone/createSvgIcon.1a53120d.js">
		<link rel="modulepreload" href="/static/articlezone/TreeView.90a5cd89.js">
		<link rel="stylesheet" href="/static/articlezone/theme.2df4c54a.css">
		<link rel="stylesheet" href="/static/articlezone/overlayscrollbars.79b5edc6.css">
	</head>
	<body>
		<div id="root"></div>
		
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
	</body>
</html>
