<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>星之器</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
		<script type="module" crossorigin src="/static/articlezone/special_casket_of_star.80cdee26.js"></script>
		<link rel="modulepreload" href="/static/articlezone/theme.c5dff8ee.js">
		<link rel="modulepreload" href="/static/articlezone/Link.48e398e7.js">
		<link rel="modulepreload" href="/static/articlezone/overlayscrollbars.8180b654.js">
		<link rel="modulepreload" href="/static/articlezone/createSvgIcon.1f2d0c35.js">
		<link rel="modulepreload" href="/static/articlezone/TreeView.a5f6868d.js">
		<link rel="stylesheet" href="/static/articlezone/overlayscrollbars.79b5edc6.css">
	</head>
	<body>
		<div id="root"></div>
		
		<div style="display:none;" id="_data_node_id">{{node_id}}</div>
		<div style="display:none;" id="_data_csrf">{{csrf_token}}</div>
		<div style="display:none;" id="_data_linkto">{{linkto}}</div>
	</body>
</html>
