/*
	命名有点混乱...不过姑且不会引起冲突
*/

#node_list_area_flexible
{
	position : absolute;
	width : 100%;
	height : 100%;
}

.the_area
{
	position : absolute;
	left : 0;
	width : 100%;
	height : 100%;
	overflow: hidden;

	background-color: #404040;
	
	user-select: none;
}

@-webkit-keyframes left_list_hover
{
	from 
	{
		color : #F5F4F4FF;
		background-color: inherit;
	}
	to 
	{
		color : #0F0F0FFF;
		background-color: #B2B2B2FF;
	}
}

@-webkit-keyframes left_list_unhover
{
	from 
	{
		color : #0F0F0FFF;
		background-color: #B2B2B2FF;
	}
	to 
	{
		color : #F5F4F4FF;
		background-color: inherit;
	}
}

#node_list_area_flexible .left_list
{
	margin-top: 10px;
	line-height: 18px;
	width : 99%;
	margin-left : 3px;
}

#node_list_area_flexible .left_list_unhover_anime
{
	-webkit-animation : left_list_unhover 0.5s;
}

#node_list_area_flexible .left_list:hover
{
	color : #0F0F0FFF;
	background-color: #B2B2B2FF;
	-webkit-animation : left_list_hover 1s;
	-webkit-animation-timing-function: ease-out;

}

#node_list_area_flexible .left_list_a
{
	font-size: 16px;
	text-decoration : none;
	color : inherit;
	font-family : "STXihei" ;
	width : 100%;
	display : block;

	cursor : default;
}

#node_list_area_flexible .left_button
{
	position : relative;
	width : 30%;
	height : 90%;
	top : 5%;
	cursor : default;
}

#node_list_area_flexible .left_list_div_active
{
	display : block !important;
}
#node_list_area_flexible .left_button_active
{
	background-color : #A5A5A5FF;
	color : #000000FF!important;
}

#node_list_area_flexible #left_title
{	
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 5%;
}

#node_list_area_flexible .left_list_div
{	
	position : absolute;
	left : 0;
	top : 10%;
	width : 100%;
	height : 90%;

	overflow : auto;
	display : none;
}
#node_list_area_flexible .left_list_div::-webkit-scrollbar 
{
	display : none;
}

#node_list_area_flexible #left_down
{	
	position : absolute;
	left : 0;
	top : 5%;
	width : 100%;
	height : 5%;
}

#node_list_area_flexible hr
{
	border : none;
	margin-top : 20px;
	margin-bottom : 20px;
	left : 0;
	right : 0;
	padding : 0;
	height : 1px;
}

#node_list_area_flexible *
{
	color : #F5F4F4FF;
	font-size : 15px;
	font-family : "YouYuan";
	line-height : 18px;
}
