
<div>
<div class = "left_title">
	<p style="text-align:center;">相关页面列表</p>
</div>

<!-- 左边栏的列表部分 -->
<!-- 注意左边栏和右边栏的命名是不对称的，左边是left_list_div，右边是right_list -->
<div class = "left_list_div left_list_sons">
	<ol>

		<!-- ..而左边的left_list则是只的列表元素（右边则是comment_list） -->
	{% for 节点 in 子节点列表 %}

		{% if 节点.节点类型 is 3 %}		<!--集和文章的分界线-->
			<hr />
		{% else %}
			<li class = "left_list">
				<a class = "left_list_a" href = "../{{节点.地址}}" >
					{{节点.名}}
				</a>
			</li>

		{% endif %}

	{% endfor %}
	</ol>
</div>

<!-- 左边呈现了三种列表，即儿子、祖先和兄弟，根据按钮来选择显示哪一个列表 -->
<div class = "left_list_div left_list_fathers">
	<ol>
	{% for 节点 in 祖先节点列表 %}
		<li class = "left_list">
			<a class = "left_list_a" href = "../{{节点.地址}}">
				{{节点.名}}
			</a>
		</li>
	{% endfor %}
	</ol>
</div>

<div class = "left_list_div left_list_brothers">
	<ol>
	{% for 节点 in 兄弟节点列表 %}
		{% if 节点.节点类型 is 3 %}		<!--集和文章的分界线-->
			<hr />
		{% else %}
			<li class = "left_list">
				<a class = "left_list_a" href = "../{{节点.地址}}" >
					{{节点.名}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</ol>
</div>

<!-- 左边的按钮，原本设计在下方的，所以叫left_down，
	后来发现下方可能被mathjax的加载框挡到，就放到上面了 -->
<div class = "left_down">
	<button type = "button" class = "left_button but_son"> 下行 </button>
	<button type = "button" class = "left_button but_fat"> 上行 </button>
	<button type = "button" class = "left_button but_bro"> 同列行 </button>
</div>
</div>