{% load universe_extras %}
{% load article_zone_extras %}
{% load static %}

<!-- 主要用于显示其他文章链接 -->
<div id = "node_list_area_flexible">

	<link 
		rel = "stylesheet" 
		href = {% static "components/nodelist_area_flex/nodelist_area_flex.css"|make_static:"this" %} 
		type = "text/css" 
	/>

	<div id = "init_area"  class = "the_area">
		{%include "./init_area.html" %}
	</div>
	<script> the_now_element = document.getElementById("init_area") </script>
	{%include "./init_area_script.html" %}
	<script> active_button_{{此节点.地址}}(the_now_element) </script>


	<script>
		map_add_thing = new Map()
	</script>

	{%for 地址,信息 in 子节点全部信息.items %}

		{%for 此节点 , 子节点列表 , 祖先节点列表 , 兄弟节点列表 in 信息 %}

			<div id = "the_area_of_{{地址}}" class = "the_area hidden">
				{%include "./init_area.html" %}
			</div>

			<script> the_now_element = document.getElementById("the_area_of_{{地址}}") </script>
			{%include "./init_area_script.html" %}


		{%endfor%}

		<script>
			map_add_thing["{{地址}}"] = active_button_{{此节点.地址}}
		</script>
	{%endfor%}

	<script>
		//console.log(map_add_thing)
	</script>


	<!-- 
		因为css里没有unhover的伪类，如果直接给元素添加动画则其入场时也会有动画，这里是保证了其出场之
		后给其添加动画。
		如果几个列表来回切换的话，会有多次入场，而后面的入场也可能会因为前面添加了动画而有动画，因此要在
		动画结束后移除动画... 
	-->
	<script type="text/javascript" charset="utf-8">

		//鼠标离开的动画
		function on_mouse_out_anime(me)
		{				
		//移除的同时立刻获得动画
			me.classList.add("left_list_unhover_anime")
			
			//因为动画的执行时间是0.5s，在0.5s后移除动画
			setTimeout(
				function (){
					me.classList.remove("left_list_unhover_anime")
				}.bind(me),
				500
			)
		}
	</script>

	<script 
		src = {% static "components/nodelist_area_flex/flexible_action.js"|make_static:"this" %} 
	>
	</script>

</div>
