#cool_in
{
}

#cool_in .no_show
{
	display: none;
}

@-webkit-keyframes tri_in
{
	from 
	{
		left : -100%;
		bottom : -100%;
	}
	to 
	{		
		left : 100%;
		bottom : 100%;
	}
}
#cool_in #tri
{
	position : absolute;
	left : 100%;
	bottom : 100%;
	width: 0;
	height: 0;
	border-bottom: 200vh solid #FFFFFF;
	border-right: 200vw solid transparent;  
	background-color : #FFFFFF00;
	-webkit-animation : tri_in 2s;
	mix-blend-mode: difference;
}

@-webkit-keyframes irt1_in
{
	from 
	{
		left : -100%;
		bottom : -200%;
	}
	to 
	{		
		left : 100%;
		bottom : 0;
	}
}
#cool_in #irt1
{
	position : absolute;
	left : 100%;
	bottom : 0;
	width: 0;
	height: 0;
	border-top: 100vh solid #FFFFFF;
	border-left: 100vw solid transparent;  
	background-color : #FFFFFF00;
	-webkit-animation : irt1_in 2s;
	mix-blend-mode: difference;
}


@-webkit-keyframes irt2_in
{
	from 
	{
		left : -200%;
		bottom : -100%;
	}
	to 
	{		
		left : 0;
		bottom : 100%;
	}
}
#cool_in #irt2
{
	position : absolute;
	left : 0;
	bottom : 100%;
	width: 0;
	height: 0;
	border-top: 100vh solid #FFFFFF;
	border-left: 100vw solid transparent;  
	background-color : #FFFFFF00;
	-webkit-animation : irt2_in 2s;
	mix-blend-mode: difference;
}
